<nb-card>
  <nb-card-header>{{ research.title }}</nb-card-header>
  <nb-card-body>
    <table *ngFor="let question of research.questions" class="table table-sm">
      <thead>
        <tr >
          <th scope="col">{{ question.question }}</th>
          <th *ngFor="let alternative of question.alternatives" scope="col">{{ alternative.alternative }}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th></th>
          <td *ngFor="let alternative of question.alternatives" scope="col">{{ frequencyOnRecord(alternative.id) }}</td>
        </tr>
      </tbody>
    </table>
  </nb-card-body>
</nb-card>
